* {
    font-family: Roboto;
}

html {
    font-size: 16px;

    .container {
        max-width: 1440px;
        max-height: 990px;
        padding: 0;

        .row {
            margin: auto;

            button {
                border: none;
                font-weight: 700;
            }

            .dialog__h1 {
                font-weight: 700;
                height: 50px;
                font-size: 42px;
                line-height: 50.4px;
                color: #121212;
                max-width: 380px;
            }

            .dialog {
                width: 100%;
                height: 100%;
                background: rgba(18, 18, 18, 0.5);

                .dialog__content {
                    position: fixed;
                    z-index: 2;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-color: white;
                    width: 920px;
                    max-width: 60%;
                    height: 210px;
                    border: none;

                    .position-absolute {
                        position: absolute;
                        top: 27%;
                        left: 11%;
                    }

                    .dialog__reset-button {
                        margin-top: 10px;
                        margin-left: 10px;
                        visibility: hidden;
                        position: absolute;
                        bottom: 10%;
                        right: 5.5%;
                    }

                    .dialog__reset-button.active {
                        visibility: visible;
                    }

                    .dialog__p {
                        position: absolute;
                        max-width: 380px;
                        height: 24px;
                        left: 11%;
                        top: 62%;
                        word-wrap: break-word;
                        white-space: normal;
                    }

                    .dialog__close-button {
                        position: absolute;
                        padding: 0;
                        top: 22%;
                        right: 5.5%;
                        border: none;
                        outline: none;
                        background: none;
                    }

                    .dialog__cancel-button {
                        margin-top: 10px;
                        margin-left: 10px;
                    }
                }
            }

            .text {
                padding-left: 6.5%;
                padding-top: 9.5%;
                max-width: 705px;

                .text__div {
                    width: 380px;

                    .margin-bottom {
                        margin-bottom: 24px;
                    }

                    .text__button {
                        border: none;
                        width: 128px;
                        height: 48px;
                        border-radius: 32px;
                        line-height: 16px;
                        padding: 16px 40px;
                        background-color: #e4c1ae;
                        color: white;
                    }

                    .text__p {
                        margin-bottom: 32px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .img {
        padding: 0;
        max-width: 735px;

        .img__grid-container {
            display: grid;
            grid-template-columns: 230fr 505fr;
            justify-items: stretch;
            align-items: stretch;

            .img__grid-item-1 {
                aspect-ratio: 230/426;
                grid-row-end: span 2;
            }

            .img__grid-item-2 {
                aspect-ratio: 505/96;
            }

            .img__grid-item-3 {
                aspect-ratio: 505/330;
                display: grid;

                .img__img {
                    width: 100%;
                    display: block;
                    aspect-ratio: 505/330;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    html .container .row {
        .text {
            padding: 0;

            div {
                margin: 20px auto;
            }
        }

        .text,
        .img {
            max-width: 100%;
            padding: 20px 20px 0;
        }

        .img__img {
            width: 100%;
            height: auto;
        }
    }
}